extends layout

block content
    include includes/_header.pug
    .container
        .row
            form(action="/admin", method="post")
                h3 Where Id is 
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Value to by delete", name="value">
                button(type="submit") Submit
            if smg
                h1 #{smg}

