extends layout

block content
    include includes/_header.pug
    .container.createPost
        .row.justify-content-center
            .col-xl-6
                hr
                h1 Select Image
                form(action='/fileUpload', method='post', enctype='multipart/form-data')
                    label(for='formGroupExampleInput2555').selectedImg Select your image
                    br
                    <input type="file" name="file" />
                    button(type="submit").btn.btn-success.btnUpload Upload Image
                hr
                h1 Create Post
                hr
                form(action='/blog/create', method='post')
                    .form-group
                        label(for='formGroupExampleInput') Post title
                        input#formGroupExampleInput.form-control(type='text', placeholder='Post title', name='title', required)
                    .form-group
                        label(for='formGroupExampleInput2') Descriptoin
                        input#formGroupExampleInput2.form-control(type='text', placeholder='Prewiew', name='prewiew', required)
                    .form-group
                        label(for='formGroupExampleInput2') Author
                        input#formGroupExampleInput2.form-control(type='text', placeholder='Author', name="author", required)
                    .form-group
                        label(for='formGroupExampleInput2') Category
                        select(name='category', required).form-control#exampleFormControlSelect1
                            option(value="Sport") Sport
                            option(value="Life") Life
                            option(value="Nature") Nature
                            option(value="Another") Another
                    .form-group
                        button(type="submit").btn.btn-success Submit
                if msg
                    h2.errorMSG #{msg}
                hr



